@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,700i");
* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: #232323; }

main {
  width: 100%;
  background-color: white;
  padding-bottom: 40px; }

span {
  font-weight: 400;
  background-color: #f7f7f7;
  padding: 3px 5px; }
  span.blue {
    color: #27AAE1; }
  span.red {
    color: #ED2941; }
  span.green {
    color: #38C66F; }
  span.yellow {
    color: #FFD83C; }

header {
  background-color: #232323;
  background: url("../images/flag.png");
  background-size: cover;
  background-position: center center; }
  header .content {
    text-transform: uppercase;
    padding: 130px 50px 140px 50px;
    letter-spacing: 2px;
    max-width: 1000px;
    margin: 0 auto; }
    header .content h3 {
      font-weight: 300;
      font-size: 20px;
      background-color: white;
      display: table;
      padding: 15px 20px;
      margin-bottom: 10px; }
      header .content h3 i {
        font-weight: 300;
        font-style: oblique; }
    header .content h1 {
      font-weight: 300;
      padding: 15px 20px;
      background-color: white;
      display: inline-block;
      font-size: 24px; }
      header .content h1 b {
        font-weight: 700; }
  header .credit {
    width: 100vw;
    font-weight: 300;
    background-color: white; }
    header .credit p {
      text-align: right;
      padding: 5px 20px;
      color: #949494;
      font-size: 12px; }

section {
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto; }
  section .intro {
    padding-top: 20px; }
    section .intro .image {
      width: 45%;
      float: left;
      display: block;
      padding-right: 30px; }
      section .intro .image img {
        display: block;
        width: 100%; }
      section .intro .image .credit {
        width: 100%;
        font-weight: 300;
        background-color: white; }
        section .intro .image .credit h6 {
          text-align: right;
          padding: 5px 0 5px 20px;
          color: #949494;
          font-weight: 300;
          font-size: 12px; }
        section .intro .image .credit h5 {
          font-weight: 300;
          line-height: 1.4;
          font-size: 15px; }
    section .intro p {
      margin-bottom: 25px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.8; }
      section .intro p:first-child::first-letter {
        float: left;
        font-size: 120px;
        line-height: 30px;
        font-weight: 700;
        padding: 25px 10px 10px 0; }
  section .question {
    margin: 0; }
    section .question h3 {
      font-size: 30px;
      text-transform: none; }
    section .question h5 {
      font-weight: 300;
      font-size: 17px; }
    section .question nav {
      margin-top: 30px;
      border-bottom: 1px solid black; }
      section .question nav ul li {
        display: inline-block;
        margin-right: 35px;
        padding-bottom: 15px; }
        section .question nav ul li a {
          text-decoration: none;
          color: black;
          font-weight: 300; }
          section .question nav ul li a.active {
            font-weight: 400; }
    section .question .panes .candidates {
      overflow: hidden;
      max-height: 130px; }
      section .question .panes .candidates .candidate {
        margin-top: 30px;
        display: table;
        overflow: hidden; }
        section .question .panes .candidates .candidate .head-container {
          max-height: 100px;
          overflow: hidden; }
          section .question .panes .candidates .candidate .head-container img {
            height: 200px; }
        section .question .panes .candidates .candidate.clinton, section .question .panes .candidates .candidate.trump {
          overflow: hidden;
          display: inline-table; }
          section .question .panes .candidates .candidate.clinton .text h3, section .question .panes .candidates .candidate.trump .text h3 {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 400; }
          section .question .panes .candidates .candidate.clinton .text h1, section .question .panes .candidates .candidate.trump .text h1 {
            font-weight: 700;
            font-size: 70px; }
        section .question .panes .candidates .candidate.clinton .text {
          padding-left: 10px;
          float: right;
          text-align: left; }
          section .question .panes .candidates .candidate.clinton .text h1 {
            color: #27AAE1; }
        section .question .panes .candidates .candidate.trump {
          float: right; }
          section .question .panes .candidates .candidate.trump .text {
            padding-right: 10px;
            vertical-align: bottom;
            float: left;
            text-align: right; }
            section .question .panes .candidates .candidate.trump .text h1 {
              color: #ED2941; }
    section .question .pane {
      display: none;
      margin-top: 15px;
      min-height: 250px; }
      section .question .pane.active {
        display: block; }
      section .question .pane .bar {
        height: 60px; }
        section .question .pane .bar.student-faculty-popular {
          background: linear-gradient(to right, #27AAE1 0%, #27AAE1 76%, #FFD83C 76%, #FFD83C 82%, #38C66F 82%, #38C66F 86%, #ED2941 86%, #ED2941 100%); }
        section .question .pane .bar.students-popular {
          background: linear-gradient(to right, #27AAE1 0%, #27AAE1 76%, #FFD83C 76%, #FFD83C 82%, #38C66F 82%, #38C66F 86%, #ED2941 86%, #ED2941 100%); }
        section .question .pane .bar.faculty-popular {
          background: linear-gradient(to right, #27AAE1 0%, #27AAE1 76%, #FFD83C 76%, #FFD83C 82%, #38C66F 82%, #38C66F 86%, #ED2941 86%, #ED2941 100%); }
      section .question .pane .credit {
        font-weight: 300; }
        section .question .pane .credit p {
          text-align: right;
          padding: 5px 0;
          color: #949494;
          font-size: 12px; }

section.discussion {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 70px; }
  section.discussion .content {
    width: 100%;
    background-color: #F4F4F4;
    margin: 0 auto;
    padding: 45px;
    box-sizing: border-box; }
    section.discussion .content h3 {
      font-size: 18px;
      line-height: 1.8; }
    section.discussion .content article {
      width: 33%;
      padding: 30px 15px 0 0;
      display: inline-table;
      box-sizing: border-box; }
      section.discussion .content article h4 {
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 400; }
      section.discussion .content article p {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4; }
      section.discussion .content article span.author {
        background-color: transparent;
        margin-bottom: 10px;
        display: block;
        font-style: italic; }
      section.discussion .content article span.read a {
        text-decoration: none;
        color: #27AAE1; }

section.video {
  padding-bottom: 80px; }
  section.video .video {
    margin-top: 30px;
    background-color: #232323;
    height: 400px; }
    section.video .video h1 {
      line-height: 400px;
      color: white;
      font-weight: 900;
      text-align: center;
      font-size: 40px; }

section.picture {
  overflow: auto; }
  section.picture img {
    display: block;
    float: left;
    width: 35%; }

section.overheard {
  padding-bottom: 60px; }
  section.overheard .quotes {
    width: 100%;
    background-color: #898989;
    padding-bottom: 30px;
    color: white; }
    section.overheard .quotes.blue {
      background-color: #27AAE1; }
    section.overheard .quotes.red {
      background-color: #ED2941; }
    section.overheard .quotes h3 {
      padding: 30px 0 0 45px; }
    section.overheard .quotes blockquote {
      padding: 30px 30px 0 45px; }
      section.overheard .quotes blockquote p {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.8;
        margin-bottom: 20px; }
      section.overheard .quotes blockquote h6 {
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1.5px; }

h3 {
  text-transform: uppercase;
  font-weight: 400; }

footer {
  background-color: #232323;
  min-height: 100px; }
  footer .content {
    max-width: 1000px;
    margin: 0 auto; }

@media only screen and (max-width: 640px) {
  section.discussion .content article {
    width: 100%; }

  section:first-child {
    padding-bottom: 0; }

  .question {
    padding-top: 10px;
    margin-bottom: -80px; }

  .candidate .text h3 {
    font-size: 14px !important; }
  .candidate .text h1 {
    font-size: 30px !important; } }
@media only screen and (max-width: 730px) {
  .head-container {
    display: none; }

  .question {
    padding-top: 10px;
    margin-bottom: -80px; }

  section .question .pane .credit p {
    display: none; } }

/*# sourceMappingURL=index.css.map */
